
.cursosTotal {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FormularioCursos {
    width: 70%;
    display:flex;
    justify-content: center;
    align-items: center;

}

.cartas {
    width: 95%;
    margin: 14px;
    display:flex;
    align-items: center;
    justify-content:space-between;
    flex-wrap: wrap;
    
}

#cajita {
    height: 100%;
    width: 150px;
    margin-right: 10px;
}

.botonesCurso {
    display: flex;
    justify-content: space-between;
}

.modificarCurso{
    background-color: aqua;
}
.modificarCurso:hover {
    color:whitesmoke;
    background-color: rgb(63, 63, 241);
}
.guardarCurso {
    background-color: greenyellow;
}
.guardarCurso:hover {
    color:whitesmoke;
    background-color: green;
}

.botonEliminar {
    background-color: rgb(250, 103, 103);
}
.botonEliminar:hover {
    color: white;
    background-color: red;
}

.contieneBuscar  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.inputBuscar {
    width: 200px;
    margin-top: 20px;
}

.cursoAgregadoTotal {
    height: 83vh;
}
.contenedorCursoExito{
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
}
.cursoAgregado {
    color:green;
    position: absolute;
    text-decoration: none;
    top:80px;
}
.gokuOK {
    width: 100%;
    height: 100%;
    background-image: url(../components/img/cursoCreado.png);
    background-repeat: no-repeat;
    background-position: center;
}

.cursoEliminadoTotal {
    height: 83.5vh;
}

.contenedorCursoEliminado {
    width: 100%;
    height: 100%;
    display:flex;
    justify-content: center;
}

.cursoEliminado {
    color:red;
    position: absolute;
    text-decoration: none;
    top:80px;
}

.yamcha {
    width: 100%;
    height: 100%;
    background-image: url(../components/img/cursoEliminado.png);
    background-repeat: no-repeat;
    background-position: center;
}

.bardock {
    width: 100%;
    height: 100%;
    background-image: url(../components/img/bardock.png);
    background-repeat: no-repeat;
    background-position: center;
}